body {      
    background-color: #b1e2b1;
    background-image: linear-gradient(45deg, #c5f2ef 0%, rgb(165, 126, 213) 100%);    
    font-family: 'Manjari', sans-serif;
}

/* Estilo para la sombra */
.article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ajusta el color y la intensidad de la sombra según tu preferencia */
  }